/*div{
	outline:1px dashed red;
	min-height:100px;
}
*/
body {
	text-align:right;
}

@font-face {
	font-family: 'yekan';
	src:
		url('fonts/yekan.eot?#') format('eot');
	src:
		local('B Yekan'),
		local('BYekan'),
		local('byekan'),
		url('fonts/yekan.woff') format('woff'),
		url('fonts/yekan.ttf') format("truetype"),
		url('fonts/yekan.afm');
	font-weight:normal;
	font-style:normal;
}

div.container{
	/*background-image: url('images/bg1.jpg');*/
	/*background-image: url('images/product-bg.jpg');*/
	background-repeat: no-repeat;
}

div.backimage {
	position : fixed;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	z-index:-1;
	background-image : url('images/bg-body.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	background-position : center top;	
}
/*-----------------------start header------------------------*/
div.container-header {
	min-height: 113px;
	padding: 1px; /*for stick to menu!!*/
	border-bottom: 1px solid #666;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

div.logo {
	min-height: 100px;
	margin-top: 15px;
	text-align: left;
}

/*-----start menu-------*/
div.menu {
	min-height: 33px;
	margin-top: 74px;
}

div.menu ul {
	list-style-type: none;
}

div.menu ul li {
	float: right;
	margin-left: 20px;	
	direction: rtl;
	
}

div.menu ul li a {
	display: block;
	text-decoration: none;
	padding: 5px 0px;
	width: 120px;
 	font-size: 18px;
	font-family: 'yekan';
	color: #CCC;
	/*background-color: #222;*/
	text-align: right;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #ccc;
	/*background: rgba(0,0,0,0.7);*/
	letter-spacing: 1px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-bottom: 1px dotted #666;
}

div.menu:hover li a{
	text-shadow: 0px 0px 2px #ccc;
	color: transparent;
	/*background: rgba(0,0,0,0.2);*/
}
div.menu li:hover a{
	/*background: rgba(0,0,0,1.0);*/
	text-shadow: 0px 1px 1px #fff;
	color: #fff;
	border-bottom: 1px solid #fff;
}

/*-----end menu-------*/

/*-----------------------end header------------------------*/

/*-----------------------start subheader------------------------*/
div.container-subheader {
	min-height: 150px;
	border-bottom: 1px solid #666;
	padding:1px;/*--for stick to chiled--*/
}

div.container-subheader div.title{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 45px;
	color: #fff;
	margin-top: 90px;
	text-shadow:2px 2px 10px #000;
}

/*-----------------------end subheader------------------------*/

/*-----------------------start banner------------------------*/
div.container-banner {
	min-height: 350px;
}

/*-----start slider-----*/
div.slider{
	width:950px;
	height:350px;
	overflow:hidden;
	position:relative;
	-webkit-box-shadow: 0px 0px 25px 10px #111;
	-moz-box-shadow: 0px 0px 25px 10px #111; 
}

div.slider div.train{
	width:7600px;
	position:relative;
	-webkit-transition:left 1.5s;
	-moz-transition:left 1.5s;
}

div.slider div.train > div{
	float:left;
}

div.slider .train > div > img{
	display : block;
}

div.slider ul.btns{
	list-style-type:none;
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:3;
	background-image:url('images/bulletsBackground.png');
	background-repeat:no-repeat;
	width:950px;
	height:23px;
	padding-left:425px;
	padding-top:12px;
}

div.slider li {
	float:left;
	width:6px;
	height:6px;
	margin-right:5px;
	z-index:4;
	position:relative;
}

div.slider li a{
	background-image:url('images/bullets.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	display:block;
	width:inherit;
	height:inherit;
	
}

div.slider li:hover a,
div.slider li:active{
	background-image:url('images/bullets.png');
	background-position:-6px 0px;
	background-repeat:no-repeat;
	
}

div.slider span.prev,
div.slider span.next{
	position:absolute;
	width:35px;
	height:23px;
	z-index:3;
}


div.slider span.prev{
	left:5px;
	bottom:5px;
	background-image:url('images/panaromaNavPrev.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
}
div.slider span.prev:hover{
	background-position:0px -23px;
}



div.slider span.next{
	right:5px;
	bottom:5px;
	background-image:url('images/panaromaNavNext.png');
	background-position:12px 0px;
	background-repeat:no-repeat;
}
div.slider span.next:hover{
	background-position:12px -23px;
}

/*-----end slider-----*/

/*-----------------------end banner------------------------*/

/*-----------------------start subbanner------------------------*/
div.container-subbanner {
	min-height: 50px;
}

div.container-subbanner h3.text{
	font-family: 'yekan';
	font-size: 18px;
	text-align: justify;
	direction: rtl;
	color: #fff;
	
	padding: 15px 0 15px 0;
	 
}

/*-----------------------end subbanner------------------------*/

/*-----------------------start content------------------------*/
div.container-content {
	min-height: 300px;
	padding: 15px 0 15px 0;
}

div.container-content div.content p {
	font-family: 'yekan';
	font-size: 18px;
	color: #aaa;
	text-align: justify;
	direction: rtl;
}

div.container-content div.album {

	padding: 1px;	
}

div.album > div {
	width: 225px;
	height: 250px;
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	-webkit-box-shadow: 0px 0px 15px 10px #111;
	-moz-box-shadow: 0px 0px 15px 10px #111;
}

div.album div.imagehome {
	width: 306px;
	height: 200px;
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}


div.album div.lastpic {
	margin-left: auto;
	margin-right: 0px;
	float: none;
}

div.pics a{
	display:block;
	text-decoration:none;
}

div.product1 {
	background-image:url('images/mina.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}

div.product2 {
	background-image:url('images/khatam.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product3 {
	background-image:url('images/tandis.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product4 {
	background-image:url('images/berenji.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product5 {
	background-image:url('images/charm.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product6 {
	background-image:url('images/berenjkobi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product7 {
	background-image:url('images/morasa.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product8 {
	background-image:url('images/mesi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product9 {
	background-image:url('images/kanafi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product10 {
	background-image:url('images/romizi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product11 {
	background-image:url('images/barjaste.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}

div.product12 {
	background-image:url('images/felezi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product13 {
	background-image:url('images/nazar.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}


div.product14 {
	background-image:url('images/aviz.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}

div.product15 {
	background-image:url('images/chobi.jpg');
	background-repeat:no-repeat;
	background-position:center center;
}

div.desc {
	width:223px;
	height:250px;
	background-color:yellow;
	z-index:3;
	-webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 200ms;
	-moz-transition:all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 200ms;
	opacity:0;
	padding:1px;
	position:relative;
}


div.pics div.desc:hover {
	opacity:1;
	-webkit-transition: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 200ms;
	-moz-transition:all;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 200ms;
}

h3.name {
	font-family: 'yekan';
	font-weight: bold;
	color: #252525;
	white-space: -2px;
	border-bottom:1px dotted #252525;
	margin:25px 15px 15px 15px;
}

div.view{
	background-image: url('images/icon-view-project.gif');
	background-repeat: no-repeat;
	width: 39px;
	height: 39px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 4;
}


/*-----------------------end content------------------------*/

/*-----------------------start footer------------------------*/
div.container-footer {
	min-height: 40px;
	border-top: 1px solid #666;
}
/*-----------------------end footer------------------------*/