/*div{
	outline:1px dashed red;
	
}*/

body {
	background-image: url(images/bg-body.jpg);
	background-repeat: repeat;
	background-position: center center;
	text-align:right;
}

div.container{
	/*background-image: url('images/bg1.jpg');*/
	/*background-image: url('images/product-bg.jpg');*/
	background-repeat: no-repeat;
}
/*-----------------------start header------------------------*/
div.container-header {
	min-height: 120px;
	padding: 1px; /*for stick to menu!!*/
	border-bottom: 1px solid #666;
	margin-bottom: 12px;
}

div.logo {
	min-height: 100px;
	margin-top: 15px;
	text-align: left;
}

/*-----------------------start subheader------------------------*/
div.container-subheader {
	min-height: 150px;
	border-bottom: 1px solid #666;
	padding:1px;/*--for stick to chiled--*/
}

div.container-subheader div.title{
	font-family: 'yekan';
	font-weight: bold;
	font-size: 45px;
	color: #fff;
	margin-top: 90px;
}

/*-----start menu-------*/
div.menu {
	min-height: 33px;
	margin-top: 74px;
}

div.menu ul {
	list-style-type: none;
}

div.menu ul li {
	float: right;
	margin-left: 20px;	
	direction: rtl;
	
}

div.menu ul li a {
	display: block;
	text-decoration: none;
	padding: 5px 0px;
	width: 120px;
 	font-size: 18px;
	font-family: 'yekan';
	color: #CCC;
	/*background-color: #222;*/
	text-align: right;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #ccc;
	/*background: rgba(0,0,0,0.7);*/
	letter-spacing: 1px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
	border-bottom: 1px dotted #666;
}

div.menu:hover li a{
	text-shadow:1px 0px 2px #ccc;
	color: transparent;
	/*background: rgba(0,0,0,0.2);*/
}
div.menu li:hover a{
	/*background: rgba(0,0,0,1.0);*/
	text-shadow: 0px 1px 1px #fff;
	color: #fff;
	border-bottom: 1px solid #fff;
}

/*-----end menu-------*/

/*-----------------------end header------------------------*/


/*-----------------------start about------------------------*/
div.container-content {
	min-height: 770px;
	margin-top:45px;
	margin-right:30px;
}

div.container-content div.text {
	padding-top:45px;
}
div.text p{
	line-height:2;
	color:#ccc;
	font-family:'yekan';
	font-size:16px;
	
}
div.container-content div.pic{
	background-image:url('images/8behesht.jpg');
	background-repeat:no-repeat;
	min-height:700px;
	margin-left:30px;
	
	
}

/*-----------------------start footer------------------------*/
div.container-footer {
	min-height: 40px;
	border-top: 1px solid #666;
}
/*-----------------------end footer------------------------*/