@charset "utf-8";
/* CSS Document */

div.menu{
	min-height:70px;
	background-color:#171717;
	border-bottom:1px dashed #fff;
}
div.menu ul{
	list-style-type:none;
}
div.menu li{
	float:right;
	width:150px;
	margin-left:15px;
}
div.menu li a{
	text-decoration:none;
	color:#ccc;
	display:block;
	padding:30px 25px 7px;
	font-family:'yekan';
	font-size:20px;
	text-shadow: 1px 0px 1px #999;
}
div.menu li:hover a{
	color:#fff;
	font-size:22px;
}


